
.actions {
    -fx-alignment: top-center;
    -fx-spacing: 10;
}

.actions HBox,
.actions Button {
    -fx-min-width: 180;
    -fx-min-height: 40;
}

.actions HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
}
.actions HBox Button {
    -fx-min-width: 85;
}