.board-container {
    -fx-background-size: 674px 674px;
}
.board-container.default {
    -fx-background-image: url("../img/default.png");
}
.board-container.advanced {
    -fx-background-image: url("../img/advanced.png");
}
