.card-container .card.ballroom {
    -fx-background-image: url("../img/card/ballroom.png");
}
.card-container .card.bathroom {
    -fx-background-image: url("../img/card/bathroom.png");
}
.card-container .card.bedroom {
    -fx-background-image: url("../img/card/bedroom.png");
}
.card-container .card.billiard_room {
    -fx-background-image: url("../img/card/billiard_room.png");
}
.card-container .card.candlestick {
    -fx-background-image: url("../img/card/candlestick.png");
}

.card-container .card.dining_room {
    -fx-background-image: url("../img/card/dining_room.png");
}
.card-container .card.green {
    -fx-background-image: url("../img/card/green.png");
}
.card-container .card.hall {
    -fx-background-image: url("../img/card/hall.png");
}
.card-container .card.kitchen {
    -fx-background-image: url("../img/card/kitchen.png");
}
.card-container .card.knife {
    -fx-background-image: url("../img/card/knife.png");
}
.card-container .card.lead_pipe {
    -fx-background-image: url("../img/card/lead_pipe.png");
}
.card-container .card.library {
    -fx-background-image: url("../img/card/library.png");
}
.card-container .card.mustard {
    -fx-background-image: url("../img/card/mustard.png");
}
.card-container .card.peacock {
    -fx-background-image: url("../img/card/peacock.png");
}
.card-container .card.plum {
    -fx-background-image: url("../img/card/plum.png");
}
.card-container .card.revolver {
    -fx-background-image: url("../img/card/revolver.png");
}
.card-container .card.rope {
    -fx-background-image: url("../img/card/rope.png");
}
.card-container .card.scarlet {
    -fx-background-image: url("../img/card/scarlet.png");
}
.card-container .card.white {
    -fx-background-image: url("../img/card/white.png");
}
.card-container .card.workroom {
    -fx-background-image: url("../img/card/workroom.png");
}
.card-container .card.wrench {
    -fx-background-image: url("../img/card/wrench.png");
}
.card-container:hover .card {
    -fx-fill: #aaaaaa;
    -fx-stroke: #1e90ff;
}

.card-box Rectangle {
    -fx-strokeType: INSIDE;
    -fx-stroke: #000000;
    -fx-fill: #ffffff;
}
.card-box Text {
    -fx-fill: #000000;
    -fx-font-weight: bold;
}