@import "colors.css";

.figurine-container {
    -fx-alignment: center;
}

.figurine-container .figurine {
    -fx-alignment: center;
    -fx-border-radius: 11;
    -fx-background-radius: 11;
    -fx-min-height: 22;
    -fx-min-width: 22;
    -fx-pref-height: 22;
    -fx-pref-width: 22;
    -fx-max-height: 22;
    -fx-max-width: 22;
}
.figurine-container .figurine VBox {
    -fx-alignment: center;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-background-color: #000000;
    -fx-background-radius: 5;
    -fx-min-height: 10;
    -fx-min-width: 10;
    -fx-pref-height: 10;
    -fx-pref-width: 10;
    -fx-max-height: 10;
    -fx-max-width: 10;
}

.figurine-container .figurine.mustard {
    -fx-background-color: derive(-fx-mustard, 20%);
}
.figurine-container .figurine.mustard VBox {
    -fx-border-color: derive(-fx-mustard, -80%);
    -fx-background-color: derive(-fx-mustard, -30%);
}
.figurine-container .figurine.green {
    -fx-background-color: derive(-fx-green, 20%);
}
.figurine-container .figurine.green VBox {
    -fx-border-color: derive(-fx-green, -80%);
    -fx-background-color: derive(-fx-green, -30%);
}
.figurine-container .figurine.white {
    -fx-background-color: derive(-fx-white, 20%);
}
.figurine-container .figurine.white VBox {
    -fx-border-color: derive(-fx-white, -80%);
    -fx-background-color: derive(-fx-white, -30%);
}
.figurine-container .figurine.peacock {
    -fx-background-color: derive(-fx-peacock, 20%);
}
.figurine-container .figurine.peacock VBox {
    -fx-border-color: derive(-fx-peacock, -80%);
    -fx-background-color: derive(-fx-peacock, -30%);
}
.figurine-container .figurine.plum {
    -fx-background-color: derive(-fx-plum, 20%);
}
.figurine-container .figurine.plum VBox {
    -fx-border-color: derive(-fx-plum, -80%);
    -fx-background-color: derive(-fx-plum, -30%);
}
.figurine-container .figurine.scarlet {
    -fx-background-color: derive(-fx-scarlet, 20%);
}
.figurine-container .figurine.scarlet VBox {
    -fx-border-color: derive(-fx-scarlet, -80%);
    -fx-background-color: derive(-fx-scarlet, -30%);
}

