@import "colors.css";

.note-container .note-button {
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.note-container .note-button.green:hover Glyph {
    -fx-text-fill: derive(-fx-green, -20%);
}
.note-container .note-button.mustard:hover Glyph {
    -fx-text-fill: derive(-fx-mustard, -20%);
}
.note-container .note-button.peacock:hover Glyph {
    -fx-text-fill: derive(-fx-peacock, -20%);
}
.note-container .note-button.plum:hover Glyph {
    -fx-text-fill: derive(-fx-plum, -20%);
}
.note-container .note-button.scarlet:hover Glyph {
    -fx-text-fill: derive(-fx-scarlet, -20%);
}
.note-container .note-button.white:hover Glyph {
    -fx-text-fill: derive(-fx-white, -20%);
}

.note-box {
    -fx-padding: 25;
}

.note-field,
.note-field .note-box-button {
    -fx-pref-height: 24;
    -fx-min-height: 24;
    -fx-max-height: 24;
    -fx-min-width: 50;
    -fx-pref-width: 50;
    -fx-max-width: 50;
}
.note-field .note-box-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.note-field .note-box-button:hover {
    -fx-border-color: #000000;
    -fx-border-width: 1;
}