@import "colors.css";

.sidebar {
    -fx-background-color: #dedede;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
}
.sidebar .logo  {
    -fx-alignment: center;
    -fx-border-color: #000000;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 75;
    -fx-background-radius: 75;
    -fx-background-image: url("../img/logo-circle.png");
    -fx-background-size: cover;
    -fx-min-width: 125;
    -fx-pref-width: 125;
    -fx-max-width: 125;
    -fx-min-height: 125;
    -fx-pref-height: 125;
    -fx-max-height: 125;
}
.sidebar .logo.mustard {
    -fx-effect: dropshadow(three-pass-box, -fx-mustard, 10, 0, 0, 0);
}
.sidebar .logo.green {
    -fx-effect: dropshadow(three-pass-box, -fx-green, 10, 0, 0, 0);
}
.sidebar .logo.peacock {
    -fx-effect: dropshadow(three-pass-box, -fx-peacock, 10, 0, 0, 0);
}
.sidebar .logo.plum {
    -fx-effect: dropshadow(three-pass-box, -fx-plum, 10, 0, 0, 0);
}
.sidebar .logo.white {
    -fx-effect: dropshadow(three-pass-box, -fx-white, 10, 0, 0, 0);
}
.sidebar .logo.scarlet {
    -fx-effect: dropshadow(three-pass-box, -fx-scarlet, 10, 0, 0, 0);
}

