.suggestion-container {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
}
.suggestion-container .suggest-text {
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}
.suggestion-container ChoiceBox {
    -fx-pref-width: 130;
}
.suggestion-container Button {
    -fx-pref-width: 205;
    -fx-padding: 10;
}