.message-container {
}
.message-container .message-sender {
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
}
.message-container .message-content {
    -fx-text-wrap: true;
    -fx-padding: 0 5 0 5;
}